<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleSoftwareUpdatesOnly</key>
	<false/>
	<key>ClientIdentifier</key>
  <string>{{serial}}</string>
	<key>DaysBetweenNotifications</key>
	<integer>1</integer>
	<key>InstallAppleSoftwareUpdates</key>
	<false/>
	<key>LastCheckDate</key>
	<date>2015-04-05T08:33:53Z</date>
	<key>LastCheckResult</key>
	<integer>1</integer>
	<key>LastNotifiedDate</key>
	<date>2015-04-05T06:24:50Z</date>
	<key>LogFile</key>
	<string>/Library/Managed Installs/Logs/ManagedSoftwareUpdate.log</string>
	<key>LogToSyslog</key>
	<false/>
	<key>LoggingLevel</key>
	<integer>1</integer>
	<key>ManagedInstallDir</key>
	<string>/Library/Managed Installs</string>
	<key>ManifestURL</key>
  <string>{{manifestURL}}</string>
	<key>PackageVerificationMode</key>
	<string>hash</string>
	<key>SoftwareRepoURL</key>
  <string>{{softwareURL}}</string>
	<key>SuppressAutoInstall</key>
	<false/>
	<key>SuppressStopButtonOnInstall</key>
	<false/>
	<key>SuppressUserNotification</key>
	<false/>
	<key>UseClientCertificate</key>
	<false/>
</dict>
</plist>
